@import "tailwindcss";
body{
    background-color: lightgrey;
}
.arrows{
   height: 50px;
   width: 50px;
   margin: 1px;
}
.slick-prev, .slick-next {
  display: none !important;
}
.scroll::-webkit-scrollbar{
  display: none;
}